@font-face {
  font-family: GothamRounded;
  src: url(./asset/fonts/gotham-rounded/GothamRounded-Book.otf);
}
@font-face {
  font-family: GothamRounded;
  src: url(./asset/fonts/gotham-rounded/GothamRounded-Bold.otf);
  font-weight: bold;
}

body {
  margin: 0;
  font-family: GothamRounded;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  font-family: "Gotham Rounded";
}
